
$zap-font-size-html: 16px !default;
$zap-image-path: '../img/' !default;

$zap-direction: ltr !default;
$zap-ltr-left: left !default;
$zap-ltr-right: right !default;

$zap-rtl-left: right !default;
$zap-rtl-right: left !default;

@if $zap-direction == rtl {
    $zap-ltr-left: right;
    $zap-ltr-right: left;

    $zap-rtl-left: left;
    $zap-rtl-right: right;
}

// for rem mixin
$zap-rem-support: true !default;
$zap-rem-fallback: false !default;

// arrow
$zap-arrow-color: #000 !default;
$zap-arrow-size: 10px !default;

// print css debug helper
// intended in combination with the 'compass-breakpoint' mixin
// @include breakpoint($print-mq) {}
$debug-print-mq: false !default;
$print-mq: print;

@if $debug-print-mq {
    $print-mq: zap-add-no-query(print);
}
