
$zap-font-size-html: 16px !default;
$zap-image-path: '../img/' !default;
$zap-autoprefixer-enabled: false !default;

// for rem mixin
$zap-rem-support: true !default;
$zap-rem-fallback: false !default;

// arrow
$zap-arrow-color: #000 !default;
$zap-arrow-size: 10px !default;

// print css debug helper
// intended in combination with the 'compass-breakpoint' mixin
// @include breakpoint($print-mq) {}
$debug-print-mq: false !default;
$print-mq: print;

@if $debug-print-mq {
    $print-mq: zap-add-no-query(print);
}
