
@include test-module('LTR') {
    @include test('zap-ltr-left [variable]') {
        $test: $zap-ltr-left;
        $expect: left;

        @include assert-equal($test, $expect, 'Returns the string \'left\'');
    }

    @include test('zap-ltr-right [variable]') {
        $test: $zap-ltr-right;
        $expect: right;

        @include assert-equal($test, $expect, 'Returns the string \'right\'');
    }

    @include test('zap-rtl-left [variable]') {
        $test: $zap-rtl-left;
        $expect: right;

        @include assert-equal($test, $expect, 'Returns the string \'right\'');
    }

    @include test('zap-rtl-right [variable]') {
        $test: $zap-rtl-right;
        $expect: left;

        @include assert-equal($test, $expect, 'Returns the string \'left\'');
    }

    // Testing Functions
    @include test('zap-if-ltr [function]') {
        $test: zap-if-ltr('LTR', 'RTL');
        $expect: 'LTR';

        @include assert-equal($test, $expect, 'Returns the string \'LTR\'');
    }

    @include test('zap-if-rtl [function]') {
        $test: zap-if-rtl('RTL', 'LTR');
        $expect: 'LTR';

        @include assert-equal($test, $expect, 'Returns the string \'LTR\'');
    }

    @include test('zap-if-ltr [mixin]') {
        @include assert('Outputs content if LTR') {
            @include input {
                @include zap-if-ltr {
                    content: 'LTR';
                }
            }

            @include expect {
                content: 'LTR';
            }
        }

        @include assert('Does not output content if LTR') {
            @include input {
                @include zap-if-rtl {
                    content: 'RTL';
                }
            }

            @include expect {}
        }
    }
}
